---
---

<section id="getting-there" class="section">
  <div class="section__content">
    <h2>By Whom</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt, mauris sit</p>

    <div class="max-w-3xl mx-56">
      <p>
        MetaFest will be organized in collaboration between MetaFam, MetaCartel & MetaAlliance as well as other local &
        global partner organizations
      </p>
      <p>Most importantly, we want you to co-create it with us..</p>
      <p>MetaFest is a celebration of the future we’re building, together..</p>
    </div>
  </div>
</section>
