---
---

<section id="getting-there" class="section">
  <div class="section__content">
    <h2>Travel &amp; Accommodation</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt, mauris sit</p>

    <div class="max-w-3xl mx-56">
    <p>
      Pula is, however, not known for having a great airport. If you’re seeing long fight time from your place to Pula,
      you might want to consider traveling to Rijeka, Zagreb or Ljubljana & taking a bus to Pula. If there is enough
      interested, there may be a dedicated bus going from Zagreb through Rijeka to Pula.
    </p>

    <p>
      There are tons of accommodation options in the nearby camp of Puntižela, the nearby village of Štinjan & the
      nearby city of Pula. Buses & vans will running frequently to make sure people can get from Štinjan in 5 minutes &
      Pula in 10 minutes, without breaking a sweat.
    </p>

    <p>
      On-site camping is being considered, will depend on the demographic & the wishes of the people attending the
      festival.
    </p>
  </div>
  </div>
</section>
