---
import Section from "../core/Section.astro";
import SpeakersList from "../widgets/SpeakersList.astro";
---

<Section sectionId="speakers">
  <div class="section__content">
    <div
    x-show="shown"
    class="invisible"
    x-bind:class="{ 'invisible': !shown }"
    x-transition:enter="transition ease-out duration-500"
    x-transition:enter-start="opacity-0 transform translate-y-8"
    x-transition:enter-end="opacity-100 transform translate-y-0"
    x-transition:leave="transition ease-in duration-500"
    x-transition:leave-start="opacity-100 transform translate-y-0"
    x-transition:leave-end="opacity-0 transform translate-y-8"
  >
    <h2>Speakers</h2>
    <p>

    </p>

    <SpeakersList />
    </div>
  </div>
</Section>
