@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply relative bg-secondary-dark text-center text-off-white md:text-accent font-sans font-normal text-base w-full min-h-screen max-w-full p-0 m-0 overflow-x-hidden;

    /* background-image: url('../images/page-bg.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    /* .page-bg {
      @apply absolute top-0 left-0 w-full h-full z-0;
      background-color: #f5f5f5;
    } */
  }

  [x-cloak] {
    display: none;
  }

  a {
    @apply transition-colors duration-200 ease-in-out hover:text-off-white;

    &[role='button'],
    &.btn {
      @apply cursor-pointer outline-none focus:outline-dashed focus:outline-primary-alpha-60 focus:text-secondary-dark;
    }
  }

  main {
    @apply w-full min-h-screen relative z-10;
  }

  /* * {
    outline: 1px solid red;
  } */

  ::-webkit-scrollbar {
    width: 12px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-secondary;

    border-radius: 2px;
    box-shadow: inset 0 0 5px rgb(0 0 0 / 70%);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-primary transition-colors duration-200 ease-in-out opacity-70;

    border-radius: 2px;
    box-shadow: 0 0 5px rgb(0 0 0 / 70%);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-accent;
  }
}
@layer components {
  :root {
    --timerColor: #82d36eff;
  }

  .container {
    @apply mx-auto px-4;
  }

  /**
	 * Hero
	 */
  .hero {
    @apply flex items-center justify-center text-white text-4xl font-bold py-8 z-10;

    &__content {
      @apply flex flex-col text-center z-20;

      &__primary {
        @apply text-center w-full md:max-w-[460px] md:space-y-3 4xl:max-w-[610px];

        .logo {
          @apply transition-all duration-200 w-36 xs:w-52 4xl:w-72 mb-8;

          path {
            @apply !fill-current !text-primary transition-colors duration-200;
          }

          &:hover {
            path {
              @apply !text-secondary-dark;
            }
          }
        }
      }

      &__secondary {
        /* @apply text-center md:text-left w-full md:w-1/3; */
      }
    }

    &__title {
      @apply text-5xl xs:text-7xl 2xl:text-8xl 4xl:text-9xl font-normal text-white text-center;
    }

    &__image {
      @apply z-0;

      background-image: radial-gradient(rgba(14, 65, 55, 0.95), rgba(10, 18, 37, 0.8));
    }

    &__dates {
      @apply relative inline-flex items-center justify-between font-heading text-white text-2xl xs:text-3xl 2xl:text-5xl 4xl:text-7xl p-0 font-normal tracking-tight capitalize;

      svg {
        @apply relative block w-6 xs:w-8 2xl:w-10 4xl:w-16 h-auto text-white;

        path {
          path: currentColor;
        }
      }

      span {
        @apply block flex-shrink-0 p-3 w-auto;
      }
    }

    .event-info {
      @apply flex flex-col items-center justify-center space-y-3 xs:space-y-7 xl:space-y-3 2xl:space-y-7;

      &__item {
      }
    }
  }

  /**
	 * Section
	 */
  .section {
    @apply bg-transparent py-20 xl:py-32 z-10 overflow-hidden flex items-center;

    background-image: url('../images/section-divider.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 50%;

    @media (max-width: 1024px) {
      background-size: 100%;
    }

    &:last-of-type {
      background-image: none;
    }

    &__content {
      @apply relative w-[90%] md:max-w-5xl 3xl:max-w-7xl mx-auto z-10;

      a:not(.btn) {
        @apply text-primary;

        &:hover {
          @apply underline text-off-white;
        }
      }

      &--alt {
        @apply relative w-[90%] xl:max-w-7xl 3xl:max-w-[75%] mx-auto z-10;

        /* p {
          &:first-of-type {
            @apply text-xl;
          }
        } */

        ul {
          @apply text-left mb-6;

          li {
            @apply flex justify-start items-center space-x-3 mb-3;

            & > svg {
              @apply flex-shrink-0 w-8 mr-3;
            }
          }
        }
      }
    }

    h2 {
      @apply mb-6 font-bold text-center text-primary text-4xl xl:text-5xl 4xl:text-7xl;
    }

    &__decoration {
      @apply z-0;
    }
  }
}

@layer utilities {
  .bg-gradient-primary {
    @apply bg-gradient-to-r from-accent-alpha-60 to-primary-alpha-60;

    &-solid {
      @apply bg-gradient-to-r from-accent to-primary;
    }
  }

  .bg-gradient-dark {
    @apply bg-gradient-to-r from-secondary to-accent;
  }

  .bg-gradient-secondary {
    @apply bg-gradient-to-tr from-accent-alpha-60 to-primary-alpha-60;

    &-solid {
      @apply bg-gradient-to-tr from-accent to-primary;
    }
  }

  .bg-gradient-tertiary {
    @apply bg-gradient-to-t from-tertiary to-primary;
  }

  .bg-gradient-quarternary {
    @apply bg-gradient-to-r from-[#f4f49299] to-[#89c97c99];
  }

  .bg-gradient-alt {
    @apply bg-gradient-to-br from-secondary-alpha-30 to-accent-light-alpha-30;
  }

  .text-gradient-primary {
    @apply bg-clip-text text-transparent;
    @apply bg-gradient-to-r from-accent-alpha-60 to-primary-alpha-60;
  }
  .gradient-text {
    @apply text-transparent bg-clip-text;
    @apply bg-gradient-to-br from-pink-300 via-teal-300 to-violet-700;
  }

  .bg-gradient-secondary-dark {
    background-image: linear-gradient(
      180deg,
      rgba(6 12 20 / 1) 0%,
      rgba(6 12 20 / 0) 33%,
      rgba(6 12 20 / 0) 66%,
      rgba(6 12 20 / 1) 100%
    );
  }

  #gradient-horizontal {
    --color-stop-1: #a770ef;
    --color-stop-2: #cf8bf3;
    --color-stop-3: #fdb99b;
  }

  .icon-gradient {
    @apply stroke-current;
  }

  .inner-shadow {
    box-shadow: inset 0 0 100px 20px rgba(0 0 0 / 0.8);
  }

  .btn-brand {
    @apply text-secondary-dark rounded-lg text-3xl;

    background: linear-gradient(90deg, #1f8975 0, #49a872 44.57%, #82d36e 100%);
  }

  .btn-brand-ghost {
    @apply relative text-primary rounded-lg text-3xl;

    background: linear-gradient(90deg, #1f8975 0, #49a872 44.57%, #82d36e 100%);
    overflow: hidden;

    span {
      @apply z-10;
    }

    &::after {
      content: '';
      @apply absolute inset-[1px] rounded-lg z-0;

      background: rgba(14, 65, 55, 1);
    }
  }
}
